/*big-text*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@800&family=Poppins&family=Sawarabi+Gothic&family=Sometype+Mono&display=swap');
/*primary-text*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@800&family=Poppins&family=Sawarabi+Gothic&family=Sometype+Mono&display=swap');

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
}

.nav-bar {
    background-color: #013750;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.logo {
    text-align: center;
    text-shadow: rgba(255, 255, 255, 1) 0px 0px 40px;
    margin-left: 3rem;
}

.nav-items,
a {
    list-style: none;
    text-decoration: none;
    color: inherit;
    margin-right: 3rem;
}

.presentation-container {
    display: flex;
    justify-content: center;
    padding: .7rem;
}

.presentation {
    width: 50%;
    padding: 1.5rem;
    text-align: center;
}

.btn-start {
    margin-top: 1.2rem;
    background: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    background-color: #1bb0ce;
    border-radius: 1rem;
    padding: .5rem;
    cursor: pointer;
    -webkit-animation: jello-horizontal 0.9s infinite both;
    animation: jello-horizontal 0.9s infinite both;
}

@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.presentation-side {
    width: 50%;
    padding: 1.5rem;
}

.presentation-background {
    background: url(https://img.freepik.com/foto-gratis/negocios-concepto-entrevista-trabajo_1421-77.jpg?w=996&t=st=1703100943~exp=1703101543~hmac=eaf3c1de7fd6ae18bd247d52efc5ffd87b926cfefdfcad86e072d2b600403cb4);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transform: scale(0);
    transition: transform .5s ease;
}

.presentation-background.popup {
    transform: scale(1);
}

.next-gen-text {
    padding: .5rem;
    font-size: 1.2rem;
    text-align: center;
    background-color: white;
    border-radius: 1.5rem;
}

/*Reasons*/
.container-reasons {
    background: linear-gradient(to bottom, #013750, #ffffff 100%);
    background-color: #013750;
    text-align: center;
    color: #ffff;
    padding: 1.5rem;

}

.text-reasons {
    margin: auto;
    max-width: 75%;
}

.reasons {
    display: flex;
    justify-content: space-around;
    margin: 3rem;

}

.reason-background {
    margin: 10px;
    width: 400px;
    height: 300px;
    background-color: #262525;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 300px 0px rgba(255, 255, 255, 0.32);
    -moz-box-shadow: 0px 0px 300px 0px rgba(255, 255, 255, 0.32);
    box-shadow: 0px 0px 300px 0px rgba(255, 255, 255, 0.32);
}

.reason1,
.reason2,
.reason3 {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;

}

/*Companies*/
.container-companies {
    padding: 3rem;
    display: flex;
}

.companies-icons {
    display: flex;
    flex-wrap: wrap;
}

.icon {
    width: 100px;
    height: 100px;
    margin: 1rem;
}

.companies-text-background {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Footer*/
footer {
    background-color: #013750;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.footer-logo {
    margin-right: 5rem;
    font-size: 3rem;
    text-shadow: rgba(255, 255, 255, 1) 0px 0px 50px;
}

.vertical-line {
    border: 1px solid #ffffff;
    margin: 30px;
}

.footer-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list-social-media {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.footer-info {
    margin-left: 40px;
}

/* Estilo para el fondo oscuro tras la ventana emergente */
.dark-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

/* Estilo para la ventana emergente */
.emergent-window-container {
    width: 50%;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #262525;
    color: #ffffff;
    border-radius: 2rem;
    z-index: 9999;
    -webkit-box-shadow: 0px 0px 300px 90px rgba(46, 168, 255, 0.89);
    -moz-box-shadow: 0px 0px 300px 90px rgba(46, 168, 255, 0.89);
    box-shadow: 0px 0px 300px 90px rgba(46, 168, 255, 0.89);
}

button.btn-close {
    background-color: #ffffff;
    border-radius: 50%;
    padding: .5rem;
    cursor: pointer;
}

.steps-container {
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.step {
    background: linear-gradient(to top, #1bb0ce 50%, #ffffff 100%);
    border-radius: 3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

.step-icon {
    height: 100px;
    width: 100px;
}

.step p {
    border-bottom: 2px solid black;
}

/*Formulario*/
.body-form {
    min-height: 100vh;
    background-image: url(imgs/background-buildings.jpg);
    background-size: cover;
    background-position: center;
}

.nav-bar-forms {
    background-color: #013750;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.nav-items-form,
li,
a {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    margin-left: 15px;
    transition: .05s;
}

li:hover {
    font-size: large;
}

.background-forms {
    display: grid;
    place-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    height: 100%;
    margin: auto;
    margin-top: 2rem;
}

.container-forms {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    backdrop-filter: blur(20px);
    border-radius: 16px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 568);
    height: 90%;
}

.form.hidden {
    display: none;
    /*transform: scale(0);*/
    transition: transform .5s ease;
}

.form.left,
.form.right {
    font-size: smaller;
    opacity: .5;
    /*transform: scale(1);*/
    transition: font-size .5s ease, opacity .5s ease, height .5 ease;
    height: 80%;
    width: 40%;
}

.form.active {
    font-size: large;
    opacity: 1;
    height: 100%;
    width: 80%;
}

.form-field {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 10px;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #262525;
    margin: 10px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #262525;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
    font-weight: bold;
    font-size: larger;
}

.input-box input:focus~label,
.input-box input:valid~label,
.input-box input:hover~label {
    top: -5px;
}


.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #262525;
    font-weight: 600;
}

.text-area-box {
    width: 100%;
    height: 100%;
    margin-inline: 1rem;
    display: flex;
    flex-direction: column;
}

textarea {
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #262525;
    font-family: 'Poppins', sans-serif;
}

.btn-add-tech-skill,
.btn-add-soft-skill {
    width: 100%;
    margin-block: 1rem;
    padding: 0.5rem;
    border-style: none;
    background: linear-gradient(to top right, #013750 20%, #ffffff 150%);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
}

.list-group {
    margin-left: 0;
    margin-block-start: 3rem;
}

/*Skills items design*/
.form-field ul li {
    border-radius: 10px;
    border: 3px solid #262525;
    padding-inline: 1rem;
    margin-block-end: 0.7rem;
}

.nav-forms {
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.btn-prev,
.btn-next {
    border-style: none;
    background: linear-gradient(to top right, #013750 20%, #ffffff 150%);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 1rem;
    cursor: pointer;
    transition: 0.5s;
}

.btn-prev:hover,
.btn-next:hover {
    border: 1px solid #013750;
    color: #013750;
    background: linear-gradient(to top right, #ffffff 20%, #013750 150%);
}

.btn-pdf {
    border-style: none;
    background: linear-gradient(to top right, rgb(170, 9, 9) 20%, #ffffff 150%);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 1rem;
    cursor: pointer;
    transition: 0.5s;
}

.btn-pdf:hover {
    border: 2px solid rgb(170, 9, 9);
    color: rgb(170, 9, 9);
    background: linear-gradient(to bottom left, #ffffff 20%, rgb(170, 9, 9) 150%);
}